<div class="infobar vilous">
    <div class="header">
        Codex information
    </div> 

    <div class="sym">
        <img src="{{ site.baseurl }}/img/vilousfan.png">
    </div>

    <div class="info">
        This section of the +700 canon is based off of the
        <a href="http://www.vilous.net/">official Vilous canon</a>, by
        <a href="https://www.furaffinity.net/user/mick39/">Mick Ono</a> and
        <a href="https://www.furaffinity.net/user/kiki-uma">Kiki-UMA</a>. Elements of the Vilous
        canon in +700 should be considered <strong>fan work</strong>.
    </div>
</div>
